{% extends 'base.html' %}


{% block content %}

{% load static %}
 <!--page content start-->
  <div class="window">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-6 text_center text_in_window">
          <p>
            <h5>Quality-Support-Value</h5>
            <h1>Same Day Delivery</h1>
            Fast,Afforadable and Friendly Courier Service.Send us <br>
            your Requirements.<br>

          </p>
          <a href="/contact_us"><input type="button" value="Get Started" class="window_button"></a><span>Place your requirements</span>
        </div>
        <div class="col-12 col-md-6 text-center">
          <img src="{%static 'courier/images/our_qualities/hero.png'%}" alt="oops" class="img-fluid" class = "window_img">
        </div>
      </div>
    </div>
  </div>

  <div class="middle_header_text">
    <h4>Lots of Courier Comapanies in Town.Why To Choose Us?</h4>
    <hr>
  </div>

  <div class="container">
    <div class="row ">
      <div class="col-md-4 text-center">
        <img class="size" src="{%static 'courier/images/our_qualities/customized.png'%}" class="img-fluid" alt=""><br><br>
        <h5>customized Requirements</h5>
        <p>Every idea is unique and that's why we craft it as per your Requirements</p>
      </div>
      <div class="col-md-4 text-center">
        <img class="size" src="{%static 'courier/images/our_qualities/cloud.png'%}" class="img-fluid" alt=""><br><br>
        <h5>99% Server Uptime</h5>
        <p>We make sure your product stays up 24 by 7 with us.</p>
      </div>
      <div class="col-md-4 text-center">
        <img class="size" src="{%static 'courier/images/our_qualities/support.png'%}" class="img-fluid" alt=""><br><br>
        <h5>Quick Support</h5>
        <p>we understand the sense of urgency whenever our client needs our help.</p>
      </div>
    </div>

    <div class="row pt-4">
        <div class="col-md-4 text-center">
          <img class="size" src="{%static 'courier/images/our_qualities/highquality.png'%}" class="img-fluid" alt=""><br><br>
          <h5>Quality Assuarance</h5>
          <p>Quality is the central edifice of our services and we make no compromise in it.</p>
        </div>
        <div class="col-md-4 text-center">
          <img class="size" src="{%static 'courier/images/our_qualities/delivery.png'%}" class="img-fluid" alt=""><br><br>
          <h5>On time delivery</h5>
          <p>when you take a project,you can be rest assured that it will be delivered in time.</p>
        </div>
        <div class="col-md-4 text-center">
          <img class="size" src="{%static 'courier/images/our_qualities/highvalue.png'%}" class="img-fluid" alt=""><br><br>
          <h5>Value of money</h5>
          <p>Get the best services for the money you pay us.We assure to give the value for money.</p>
        </div>

      </div>
    </div>

    <div class="ask">

        <div class="container ">
          <div class="row">
            <div class="col-md-9 text-center pt-3 pb-2 ">
              <h5>Do you have any Requirements? We can do it for you!</h5>

            </div>
            <div class="col-md-3 pt-2 pb-2 text-center">
             <a href="/contact_us"><input type="button" value="Get Started" class="window_button"></a>
            </div>
          </div>
        </div>
      </div>

      <div class="about_window">
        <div class="container">
          <div class="row p-4 align-items-center">
            <div class="col-md-6 text_in_about_window">
              <p>
                <h5>About This page</h5>

                 IT is an buiseness website,we are transportation organization
                 and we will transport your good(documents or parcel) in a shorter
                 time span with a grate value for money aspect.Send us
                 your Requirements.

              </p>
              <a href="/about"><input type="button" value="Read more" class="window_button"></a>
            </div>
            <div class="col-md-6 pt-3 align-items-center">
              <img src="{%static 'courier/images/hero-img-half.jpg'%}" alt="oops" class="img-fluid" id="window_img">
            </div>
          </div>
        </div>
      </div>

      <div class="subscribe">
        <div class="container ">
          <div class="row">
            <div class="col-12 text-center pb-2 ">
              <h4>Subscribe to our Newsletter</h4>

              <div class="input-group pb-3">
                <input type="email" class="form-control email_search" placeholder="Enter your email">
                <span class="input-group-btn">
                    <button class="btn btn-theme subscribe_button"  type="submit">Subscribe</button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="middle_header_text">
        <h4>Out Best in Class Services</h4>
        <hr>
      </div>


      <div class="container">
        <div class="row ">
          <div class="col-md-4 text-center">
            <img class="size" src="{%static 'courier/images/courier-parcel-clip-art-png-favpng-YQz4cucqANwp38CaLQzLZDF29-removebg-preview.png'%}" class="img-fluid" alt=""><br><br>
            <h5>Experienced team</h5>
            <p>We have a talent pool of experienced workers <a href="">read more..</a></p>

          </div>
          <div class="col-md-4 text-center">
            <img class="size" src="{%static 'courier/images/cash_on_delivery-removebg-preview.png'%}" class="img-fluid" alt=""><br><br>
            <h5>cash on delivery</h5>
            <p> Make sure you are served well then pay. <a href="">read more..</a></p>
          </div>
          <div class="col-md-4 text-center">
            <img class="size" src="{%static 'courier/images/creditcards-hero.png'%}" class="img-fluid" alt=""><br><br>
            <h5>online payment</h5>
            <p> Pay online if you do not want be bother about payment when package arrives <a href="">read more..</a></p>
          </div>
        </div>

        <div class="row pt-4">
          <div class="col-md-4 text-center">
            <img class="size" src="{%static 'courier/images/our_qualities/4th.png'%}"  class="img-fluid" alt=""><br><br>
            <h5>Software team</h5>
            <p>We have a very experienced software teams ready for any technical disaster.<a href="">read more..</a></p>
          </div>
          <div class="col-md-4 text-center">
            <img class="size" src="{%static 'courier/images/delivery-boy-removebg-preview.png'%}" class="img-fluid" alt=""><br><br>
            <h5>Integrity</h5>
            <p>Don't you worry about your important package we'll take care of every aspect.<a href="">read more..</a></p>
          </div>
          <div class="col-md-4 text-center">
            <img class="size" src="{%static 'courier/images/our_qualities/support.png'%}" class="img-fluid" alt=""><br><br>
            <h5>Customer support</h5>
            <p>we will make sure that you feel fully supported by us. <a href="">read more..</a></p>
          </div>

        </div>
      </div>

      <section class="worked_with">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="middle_header_text">
                <h4>Some of our trusted clients</h4>
                <hr>
              </div>

            </div>
          </div>
          <div class="row  text-center pb-2">
            <div class="col-lg-2">
              <img class="img_sizes" src="{%static 'courier/images/our_qualities/apple.png'%}" class="img-fluid" alt="">

            </div>
            <div class="col-lg-2 ">
              <img class="img_sizes" src="{%static 'courier/images/our_qualities/netflix.png'%}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-2">
              <img class="img_sizes" src="{%static 'courier/images/our_qualities/google.png'%}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-2">
              <img class="img_sizes" src="{%static 'courier/images/our_qualities/yahoo.png'%}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-2">
              <img class="img_sizes" src="{%static 'courier/images/our_qualities/facebook.png'%}"  class="img-fluid" alt="">
            </div>
            <div class="col-lg-2">
              <img class="img_sizes" src="{%static 'courier/images/our_qualities/insta.jfif'%}" class="img-fluid" alt="">
            </div>

          </div>
        </div>
      </section>
      <!--page content ends-->
  

{% endblock %}