<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>PORTFOLIO-parvez</title>
</head>

<body>
  <!--header and navbar comes here-->
  <header>
    <!--class "p-1" is for padding 1 its applied for the header bacckground and also 
            for the space between the two contact links -->
    <div class="p-1" id="topheader">
      <div class="container">
        <div class="row">
          <div class="col-12 text-right">
            <!--tel :- with this when we tap the link on a mobile phone it turns the 
                            dialer on also its some what same to the mailto-->
            <a class="p-1" href="tel:+917698453248"><i class="fa fa-phone"></i>(+91)7698453248</a>

            <a class="p-1" href="mailto:parvezmir8332@gmail.com"><i
                class="fa fa-envelope"></i>parvezmir8332@gmail.com</a>
          </div>
        </div>
      </div>
    </div>
    <div id="navbar" class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-dark ">

        <a class="navbar-brand" id="parvez" href="#"><i class="fa fa-telegram " id="main-icon"></i> PARVEZ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <!--HAVE TO LEARN ABOUT DROPDOWN AND TOGGLES SEPARATELY-->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Services
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="web_development.html">web-development</a>
                <a class="dropdown-item" href="mytutorial.html">My tutorials</a>
                <a class="dropdown-item" href="PHP.html">PHP</a>
                <a class="dropdown-item" href="JAVASCRIPT.html">JAVASCRIPT</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="tips_tricks.html">personal-tips and tricks</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="portfolio.html">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="about.html">About</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="contactus.html">Contact Us</a>
            </li>



          </ul>
        </div>
      </nav>
    </div>

  </header>

  <!--page content starts-->
  <section class="bread_crum">
    <div class="container">
      <div class="row">
        <div class="col-12 pt-2">
          <h3>PORTFOLIO</h3>
          <ol id="bread" class="breadcrumb pt-0 pl-0">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">portfolio</li>
          </ol>
        </div>
      </div>
    </div>

  </section>

  <section class="portfolio">
    <div class="container">
      <div class="row ">
        <div class="col-12">
          <p>so this is our portfolio hope you like our work.Go through this entire page and
            see what projects we have worked on.If there is something we can do for you let us know in the
            "contact us" page.thank you.
            <hr>
          </p>

        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center pb-1">
          <h5>Some Of Our Work</h5>
        </div>
      </div>

      <div class="row ">
        <div class="col-12 col-md-4 text-center">
          <img src="images/awesome.jpg" alt="" class="img-fluid port_img_size">
          <h6 class="pt-1">xyz company</h6>
          <p>-website</p>
        </div>
        <div class="col-12 col-md-4 text-center">
          <img src="images/graphics.jfif" alt="" class="img-fluid port_img_size">
          <h6 class="pt-1">xyz company</h6>
          <p>-website</p>
        </div>
        <div class="col-12 col-md-4 text-center">
          <img src="images/food.jfif" alt="" class="img-fluid port_img_size">
          <h6 class="pt-1">xyz company</h6>
          <p>-website</p>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-12 col-md-4 text-center">
          <img src="images/brokers.jpg" alt="" class="img-fluid port_img_size">
          <h6 class="pt-1">xyz company</h6>
          <p>-website</p>
        </div>
        <div class="col-12 col-md-4 text-center">
          <img src="images/inovation.jpg" alt="" class="img-fluid port_img_size">
          <h6 class="pt-1">xyz company</h6>
          <p>-website</p>
        </div>
        <div class="col-12 col-md-4 text-center">
          <img src="images/turn.jpg" alt="" class="img-fluid port_img_size">
          <h6 class="pt-1">xyz company</h6>
          <p>-website</p>
        </div>
      </div>



    </div>
  </section>

  <div class="ask">

    <div class="container ">
      <div class="row">
        <div class="col-md-9 text-center pt-3 pb-2 ">
          <h5>Do you have any Requirements? We can do it for you!</h5>

        </div>
        <div class="col-md-3 pt-2 pb-2">
          <button class="window_button ">Get started</button>
        </div>
      </div>
    </div>
  </div>

  <section class="worked_with">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="middle_header_text">
            <h4>Some if our trusted clients</h4>
            <hr>
          </div>

        </div>
      </div>
      <div class="row  text-center pb-2">
        <div class="col-lg-2">
          <img class="img_sizes" src="images/our_qualities/apple.png" class="img-fluid" alt="">

        </div>
        <div class="col-lg-2 ">
          <img class="img_sizes" src="images/our_qualities/netflix.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-2">
          <img class="img_sizes" src="images/our_qualities/google.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-2">
          <img class="img_sizes" src="images/our_qualities/yahoo.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-2">
          <img class="img_sizes" src="images/our_qualities/facebook.png"  class="img-fluid" alt="">
        </div>
        <div class="col-lg-2">
          <img class="img_sizes" src="images/our_qualities/insta.jfif" class="img-fluid" alt="">
        </div>

      </div>
    </div>
  </section>




  <!--page content ends-->

  <!--upper bottom footer comes here-->
  <footer class="bottom-footer upper">
    <div class="container ">
      <div class="row p-3 ">
        <div class="col-md-3 ">
          <h3>PARVEZ</h3>
          <p>hello there my name is parvez.it's the first portfolio website
            made by me.hope you all like it.<a href="">read more....</a>
          </p>
          <a href="facebook/parvezmir"> <i class="fa fa-2x fa-facebook-official p-2" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-instagram fa-2x p-2" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-twitter fa-2x p-2" aria-hidden="true"></i></a>




        </div>

        <div class="col-md-3">
          <h3>important liks</h3>
          <a class="" href="privacy-policy.html">privacy-policy</a><br>
          <a class="" href="#">youtube link</a><br>
          <a href="blog_articles.html">blog articles</a><br>
          <a href="social_media.html">social media</a><br>


        </div>
        <div class="col-md-3">
          <h3>Services</h3>
          <a class="" href="web_development.html">web-development</a><br>
          <a class="" href="JAVASCRIPT.html">JAVASCRIPT</a><br>
          <a href="mytutorial.html">My tutorials</a><br>
          <a href="PHP.html">PHP</a><br>
          <a href="tips_tricks.html">personal-tips and tricks</a><br>
        </div>

        <div class="col-md-3">
          <h3>Contact us</h3>
          <a class="p-1" href="tel:+917698453248"><i class="fa fa-phone"></i>(+91)7698453248</a><br>

          <a class="p-1" href="mailto:parvezmir8332@gmail.com">
            <i class="fa fa-envelope"></i>parvezmir8332@gmail.com</a><br>

          <a class="embed-responsive embed-responsive-16by9" href="#"><iframe class="embed-responsive-item"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7284.583049271698!2d72.3908014744!3d24.091241437689664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395cedb0841e07a1%3A0x999c402413650b03!2sKanoodar%2C%20Gujarat%20385520!5e0!3m2!1sen!2sin!4v1591534541926!5m2!1sen!2sin"
              frameborder="0"></iframe></a>

        </div>

      </div>
    </div>
  </footer>

  <!--lower bottom footer comes here-->
  <div class=" container-fluid lower ">
    <div class="col-12">
      <p>copyrights @ 2020-All Rights reserved</p>
    </div>
  </div>




  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>